# BROADCAST_URL=''
BROADCAST_PORT=9000
BROADCAST_HOST='broadcast'
BROADCAST_DRIVER='TCP'

BLOCKCHAIN_ENDPOINT='https://wax.api.eosnation.io'
BLOCKCHAIN_CHAIN_ID='8be32650b763690b95b7d7e32d7637757a0a7392ad04f1c393872e525a2ce82b'

SCANNER_NODES_MAX_CHUNK_SIZE=100
SCANNER_SCAN_KEY='test'

BLOCK_READER_ENDPOINTS='ws://ship.alienworlds.io:28080'
BLOCK_READER_FETCH_DELTAS=1
BLOCK_READER_FETCH_TRACES=1

MONGO_HOSTS='db'
MONGO_PORTS='27017'
MONGO_DB_NAME='alienworlds_dao_history'
# MONGO_SRV=0
# MONGO_SSL=0
# MONGO_REPLICA_SET=myRepl
# MONGO_AUTH_MECHANISM=PLAIN
# MONGO_AUTH_SOURCE=admin

BLOCK_RANGE_MAX_THREADS=1
BLOCK_RANGE_INVIOLABLE_THREADS_COUNT=0

PROCESSOR_MAX_THREADS=4
PROCESSOR_INVIOLABLE_THREADS_COUNT=0
PROCESSOR_USE_SESSION=0
PROCESSOR_QUEUE_READ_CONCERN=snapshot
PROCESSOR_QUEUE_READ_PREFERENCE=primary
PROCESSOR_QUEUE_WRITE_CONCERN=majority
PROCESSOR_BINDINGS_PATH='processor/processor.bindings'

HYPERION_URL='https://hyperion-wax-mainnet.wecan.dev'
ABIS_SERVICE_FILTER='eosio:setabi'

MODE='default'